.container {
    height: 200px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .background {
    height: 100%;
    background-color: #2e2e2e;
  }

  .white-text {
    color: white;
  }

  .changing-background {
    animation: 2000ms ease-in-out infinite color-change;
  }
  
  @keyframes color-change {
    0% {
      background-color: teal;
    }
    20% {
      background-color: gold;
    }
    40% {
      background-color: indianred;
    }
    60% {
      background-color: violet;
    }
    80% {
      background-color: green;
    }
    100% {
      background-color: teal;
    }
  }

  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .sadness-background {
    animation: 5000ms ease-in-out infinite sad-color-change;
  }

  @keyframes sad-color-change {
    0% {
        background-color: black;
    }
    
    50% {
        background-color: #2e2e2e;
    }

    100% {
        background-color: black;
    }
  }

